In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv('../data/movielens-small/ratings.csv')

In [3]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [4]:
movies = pd.read_csv('../data/movielens-small/movies.csv')

In [5]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [12]:
data = movies.set_index('movieId').join(ratings.set_index('movieId')).reset_index().set_index(['userId','movieId'])[['rating']]

In [14]:
data.unstack()

        rating                                                                 \
movieId 1      2      3      4      5      6      7      8      9      10
userId
NaN        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1.0        4.0    NaN    4.0    NaN    NaN    4.0    NaN    NaN    NaN    NaN
2.0        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3.0        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4.0        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...        ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
606.0      2.5    NaN    NaN    NaN    NaN    NaN    2.5    NaN    NaN    NaN
607.0      4.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
608.0      2.5    2.0    2.0    NaN    NaN    NaN    NaN    NaN    NaN    4.0
609.0      3.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    4.0
610.0      5.0    NaN    NaN    NaN    NaN    5.0    NaN    NaN    NaN    NaN

         ...                                                                 \
movieId  ... 193565 193567 193571 193573 193579 193581 193583 193585 193587
userId   ...
NaN      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
1.0      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
2.0      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3.0      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
4.0      ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
606.0    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
607.0    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
608.0    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
609.0    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
610.0    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN


movieId 193609
userId
NaN        NaN
1.0        NaN
2.0        NaN
3.0        NaN
4.0        NaN
...        ...
606.0      NaN
607.0      NaN
608.0      NaN
609.0      NaN
610.0      NaN

[611 rows x 9742 columns]